- if controller_name != 'sessions'
  = link_to "sign in", sign_in_path

- if controller_name != 'registrations'
  = link_to "sign up", sign_up_path

- if controller_name != 'passwords'
  = link_to "forgot password?", forgot_path

- if controller_name != 'confirmations'
  = link_to "confirm email", new_confirmation_path(resource_name)
