$bright-white: #ffffff

$light-green: #e4ffed
$middle-green: #afffca
$bright-green: #29ff71

$light-gray: #e0e3e1
$middle-gray: #829087
$off-black: #05200e

$prompt: Prompt
$open-sans: Open Sans

$transition-config: 0.2s ease-in

body
  background-color: $light-green
  color: $off-black
  font-family: $open-sans
  margin: 0
  padding: 0

  ::selection
    background-color: $middle-green

  a, button, input, select, textarea
    outline: none

  a
    color: $off-black

  .wrapper
    background-color: $bright-white
    margin: 0 auto
    padding: 20px
    width: 800px

    header
      nav
        border-bottom: 10px solid $light-gray
        display: flex
        justify-content: flex-end
        margin: 0 auto
        width: 800px

        a
          color: $off-black
          font-family: $prompt
          font-weight: 700
          font-size: 20px
          margin: 0
          padding: 4px 20px
          text-decoration: none
          transition: background-color $transition-config
          &:hover
            background-color: $light-green

    main
      #week_entry_root
        nav
          display: flex
          justify-content: space-between
          padding-bottom: 30px

          .left
            h1
              color: $bright-green
              font-family: $prompt
              font-size: 80px
              font-weight: 900
              margin: 0
              padding: 0
            h1, p
              display: inline
          .right
            display: flex
            flex-direction: column
            justify-content: center
            text-align: right

            p
              font-size: 20px
              margin: 0 0 10px
              padding: 0
            a
              color: $off-black
              background: $middle-gray
              font-size: 16px
              margin-left: 20px
              padding: 4px 20px
              text-decoration: none
              transition: background-color $transition-config
              transition: color $transition-config

              &:hover, &:focus
                background: $off-black
                color: $bright-white

        .table
          display: flex
          flex-direction: row
          justify-content: space-between

          section
            display: flex
            flex-direction: column
            text-align: right
            width: 100px

            p
              color: $off-black
              font-family: $open-sans
              font-size: 20px
              margin: 0

              &.total
                font-size: 30px
                margin-top: 20px

            input
              border: none
              border-bottom: 10px solid $light-gray
              color: $off-black
              font-family: $open-sans
              font-size: 30px
              margin: 0
              padding: 20px 0 0
              text-align: right
              width: 100%
              transition: border-bottom $transition-config

              &::placeholder
                color: $middle-gray

              &:focus
                border-bottom: 10px solid $bright-green

              &:hover
                border-bottom: 10px solid $middle-gray

                &:focus
                  border-bottom: 10px solid $bright-green

    footer
