$bright-white: #fff
$off-white: #eee
$gray: #999
$bright-green: #29FF71
$off-black: #0A2411

$prompt: "Prompt"
$open-sans: "Open Sans"

a
  color: $off-white

body
  background-color: $bright-white
  color: $off-white
  font-family: $open-sans
